header > img {
  width: 100px;
  display: block;
  background: white;
}

header {
  background: white;
}

header ul li {
  float: left;
  margin-right: 30px;
  background: lime;
}

header ul {
  float: right;
}

h1 {
  color: red;
  font-size: 38px;
  background: blanchedalmond;
  border-bottom: 1px solid black;
}

h2 {
  color: red;
  font-size: 32px;
  border-top: 1px solid black;
  background: beige;
}

body {
  line-height: 1.5;
  font-family: arial, sans-serif;
  background-color: antiquewhite;
  margin: 20px;
  padding: 20px;
}

ol {
  list-style: upper-roman inside;
}

.col {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

body:after {
  content: "";
  clear: both;
  display: block;
}

.ingredients-list {
  list-style: square inside;
  margin: 15px 0px;
  background: beige;
  margin: 10px;
}

.user_review {

}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(https://shadygrove.umd.edu/sites/default/files/styles/media_thumb/public/star.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input:last-child {
    background: gold;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

label {
  display: block;
}

h2 + .user_review {
    border-top: 1px solid black;
}
